In [4]:
a = 1230

In [5]:
12000 * 1.23 * 10 / 100

1476.0

In [6]:
p = 120000
r = 1.23
t = 10
si = p * r * t / 100
print(si)

14760.0

a = 3982
b = 32.87
c = "this is a boy"
d = true
e = None

In [7]:
a = 325
b = 23.90
c = "this is a boy"
d = True
e = None

In [8]:
fruits = ["apple","banana","cherry"] #list
coords = (23,34,56,78) #tuple
person = {"name":"Anuj","age": 36} #dictionary
movies = {'avengers', 'ironman','hulk'} #set

In [9]:
fruits = ["apple","banana","cherry"] #list
'apple' in fruits

True

In [10]:
'avocado' in fruits

False

In [11]:
'Apple' in fruits

False

input and output

In [12]:
name = input('enter your name ')

In [13]:
pi = 22/7
r = float(input('radius'))
area = pi*r**2

In [14]:
iq = int(input('what you iq(1-150)'))

In [15]:
print('area = >', area)

area = > 201.14285714285714

In [16]:
print('for a radius of',r,'the area is',area)

for a radius of 8.0 the area is 201.14285714285714

In [17]:
print("apple","banana","cherry")

apple banana cherry

In [18]:
print("apple","banana","cherry", sep = ',')

apple,banana,cherry

In [19]:
print("apple","banana","cherry", sep ='\n')

apple
banana
cherry

In [20]:
print(f'for a radius of {r}, the area is {area}')

for a radius of 8.0, the area is 201.14285714285714

In [21]:
r = 20
area = 30
print(f'for a radius of {r}, \nthe area is {area}')

for a radius of 20,
the area is 30

In [22]:
print(f'integer{a}')

integer325

In [23]:
print(f'float{b}')

float23.9

: